@import url("shared.css");

.top-rated,
.all-movies {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  max-width: 1800px;
  position: relative;
  overflow: visible;
}

.all-movies {
  margin-top: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(var(--foreground));
  font-size: 1.8rem;
  font-weight: 500;
}

.slider-wrapper {
  position: relative;
  overflow: visible;
  /* width: 91vw; */
  /* padding: 1rem; */
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 10;
  cursor: pointer;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s cubic-bezier(0.5, 1, 0.89, 1),
    opacity 0.3s ease-out, visibility 0.3s ease;
}

.slider-wrapper #prev-slide {
  left: -25px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) rotate(0deg);
}

.slider-wrapper #prev-slide.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) rotate(360deg);
}

.slider-wrapper #next-slide {
  right: -25px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) rotate(0deg);
}

.slider-wrapper #next-slide.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) rotate(360deg);
}

.slider-wrapper #prev-slide.show:hover,
.slider-wrapper #next-slide.show:hover {
  transform: translateY(-50%) rotate(360deg) scale(1.2);
}

.slider-wrapper #prev-slide.show:active,
.slider-wrapper #next-slide.show:active {
  transform: translateY(-50%) rotate(360deg) scale(0.8);
}

.slider-wrapper .slider-movies {
  position: relative;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.slider-wrapper .slider-movies:focus {
  outline: none;
}

.slider-movies .movie {
  flex: 0 0 auto;
  background-color: hsl(var(--background));
  color: hsl(var(--primary-foreground));
  border-radius: var(--radius);
  transition: all 0.3s;
  cursor: pointer;
  z-index: 2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slider-movies .movie .movie-poster {
  width: 180px;
  height: auto;
  max-height: 300px;
  background-size: cover;
  border-radius: var(--radius);
  z-index: 3;
}

.slider-movies .movie .movie-content {
  background-color: hsl(var(--background));
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  max-width: 600px;
  height: 300px;
  max-height: 300px;
  transform: translateX(-100%);
  transform-origin: left;
  transition: all 1s cubic-bezier(0.5, 1, 0.89, 1);
}

.slider-movies .movie .movie-content > div {
  display: none;
}

.slider-movies .movie .movie-content > div > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

.slider-movies .movie .movie-content h3 {
  color: hsl(var(--foreground));
  font-size: 1.2rem;
  font-weight: 500;
}

.slider-movies .movie .movie-content > div > div > p {
  font-size: 0.8rem;
  color: hsl(var(--foreground));
  font-weight: 500;
}

.slider-movies .movie .movie-content p span {
  font-size: 0.6rem;
  font-weight: 300;
}

.slider-movies .movie:hover.movie,
.slider-movies .movie:hover .movie-poster {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.slider-movies .movie:hover .movie-content {
  transform: translateX(0);
}

.slider-movies .movie:hover .movie-content > div {
  display: block;
}

/* /////////////////////////////////////////////////// ALL MOVIES CONTAINER /////////////////////////////////////////////////// */

.all-movies .all-movies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.all-movies .all-movies-container .movie {
  width: 100%;
  height: auto;
  min-height: 450px;
  border-radius: var(--radius);
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  position: relative;
  display: block;
}

.all-movies-container .movie .movie-poster {
  position: absolute;
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}

.all-movies-container .movie .movie-score {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 0.5rem;
  background-color: hsl(var(--primary-foreground));
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 5;
}

.all-movies-container .movie .movie-score svg {
  width: 20px;
  height: 20px;
  color: hsl(var(--primary));
}

.all-movies-container .movie .movie-score span {
  color: hsl(var(--foreground));
  font-weight: bold;
  font-family: var(--font-secondary);
}

.dark .all-movies-container .movie .movie-score span {
  color: hsl(var(--background));
}

.all-movies-container .movie:hover .movie-poster {
  transform: translate(-50%, -50%) scale(1.6);
}

.all-movies-container .movie .movie-info {
  border-radius: var(--radius);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: -35%;
  left: 0;
  color: hsl(var(--muted));
  padding: 0.75rem;
  transition: all 0.3s cubic-bezier(0.5, 1, 0.89, 1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.all-movies-container .movie:hover .movie-info {
  bottom: 0;
}

.all-movies-container .movie .movie-info .movie-title {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: hsl(var(--background));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-primary);
}

.dark .all-movies-container .movie .movie-info .movie-title {
  color: hsl(var(--foreground));
}

.movie-numbers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.movie-numbers .movie-genre,
.movie-numbers .movie-episodes,
.movie-numbers .movie-rank {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.25rem 0.35rem;
  width: fit-content;
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: var(--radius);
  font-family: var(--font-secondary);
}

.all-movies-container .movie .movie-info .movie-data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
  color: hsl(var(--foreground));
}

.all-movies-container .movie .movie-info .movie-data .movie-english-title,
.all-movies-container .movie .movie-info .movie-data .movie-rating {
  font-size: 0.8rem;
  color: hsl(var(--background));
  font-weight: 500;
}

.all-movies-container .movie .movie-info .movie-data .movie-english-title span,
.all-movies-container .movie .movie-info .movie-data .movie-rating span {
  font-size: 0.6rem;
  font-weight: 300;
}

.dark .all-movies-container .movie .movie-info .movie-data .movie-english-title,
.dark .all-movies-container .movie .movie-info .movie-data .movie-rating {
  color: hsl(var(--foreground));
}

.all-movies-container .movie .movie-info .movie-buttons,
.movie-content .movie-buttons {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.all-movies-container .movie .movie-info .movie-buttons a,
.all-movies-container .movie .movie-info .movie-buttons button,
.movie-content .movie-buttons a,
.movie-content .movie-buttons button {
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.all-movies-container .movie .movie-info .movie-buttons svg,
.movie-content .movie-buttons svg {
  width: 1rem;
  height: 1rem;
}

.all-movies-container .movie .movie-info .movie-buttons .secondary-button,
.movie-content .movie-buttons .secondary-button {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  padding: 0.5rem;
  border: 1px solid hsl(var(--foreground));
  border-radius: var(--radius);
  transition: all 0.3s ease-out;
}

.all-movies-container .movie .movie-info .movie-trailer,
.movie-content .movie-buttons .movie-trailer {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  padding: 0.5rem;
  border-radius: var(--radius);
  transition: all 0.3s ease-out;
}

.all-movies-container .movie .movie-info .movie-buttons button:hover,
.movie-content .movie-buttons button:hover {
  filter: saturate(0.8);
}

.all-movies-container
  .movie
  .movie-info
  .movie-buttons
  button:hover:first-child,
.movie-content .movie-buttons button:hover:first-child {
  background-color: hsl(var(--primary-foreground));
}

.movie-content .movie-buttons button:active {
  transform: scale(0.9);
}

.all-movies-container .movie .movie-info button:active {
  transform: scale(0.9);
}

/* ============================================================= Media Queries ================================================================= */

@media only screen and (max-width: 1800px) {
  .all-movies .all-movies-container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1440px) {
  .all-movies .all-movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 90%;
  }

  .all-movies .all-movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 960px) {
  .all-movies .all-movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding: 1rem;
  }

  .nav {
    padding: 0.6rem 1rem;
  }

  .top-rated,
  .all-movies {
    padding: 0 1rem;
    gap: 1rem;
  }

  .all-movies .all-movies-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .all-movies .all-movies-container .movie {
    min-height: 320px;
  }

  .all-movies-container .movie .movie-poster {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    max-width: 220px;
    height: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .all-movies-container .movie:hover .movie-poster {
    transform: scale(1);
  }

  .all-movies-container .movie .movie-info {
    top: 0;
    left: 220px;
    bottom: 0;
    right: 0;
    width: calc(100% - 220px);
    height: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    gap: 1.5rem;
    background-color: hsl(var(--background));
  }

  .all-movies-container .movie .movie-info .movie-title {
    color: hsl(var(--foreground));
  }

  .all-movies-container .movie .movie-info .movie-data .movie-english-title,
  .all-movies-container .movie .movie-info .movie-data .movie-rating {
    color: hsl(var(--foreground));
  }
}

@media only screen and (max-width: 600px) {
  .all-movies .all-movies-container .movie {
    min-height: 220px;
  }

  .all-movies .all-movies-container .movie .movie-poster {
    max-width: 140px;
    height: 100%;
  }

  .all-movies-container .movie .movie-info {
    top: 0;
    left: 140px;
    bottom: 0;
    right: 0;
    width: calc(100% - 140px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    gap: 1.5rem;
    background-color: hsl(var(--background));
  }

  .all-movies-container .movie .movie-info .movie-data {
    margin-top: 0;
  }

  .all-movies-container .movie .movie-info .movie-data .movie-english-title,
  .all-movies-container .movie .movie-info .movie-data .movie-rating {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  .all-movies-container .movie .movie-info .movie-buttons {
    flex-direction: column;
  }
  .all-movies-container .movie .movie-info .movie-buttons a,
  .all-movies-container .movie .movie-info .movie-buttons button,
  .movie-content .movie-buttons a,
  .movie-content .movie-buttons button {
    font-size: 0.8rem;
    width: 100%;
  }

  .movie-numbers {
    gap: 0.25rem;
    font-size: 0.4rem;
  }

  .all-movies .all-movies-container .movie {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-top: 1rem;
  }

  .all-movies .all-movies-container .movie .movie-poster {
    position: relative;
    align-self: center;
    border-radius: var(--radius);
    min-width: 50%;
  }

  .all-movies .all-movies-container .movie .movie-info {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    gap: 0.6rem;
  }
}
